body{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: #e8e1f2;
}
h3,h4{
    text-align: center;
    padding: 0.5em;
}
a{
    text-decoration: none;
    color: /*#87287a;#8A4A8C;*/#C09AF4;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: 1px solid white;
    margin: 0 auto;
}
.grid div{
    width: 20px;
    height: 20px;
}
.pac-dot{
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}
.wall{
    background-color: blue;
}
.power-pellet{
    background-color: green;
    border-radius: 10px;
}
.pac-man{
    background-color: yellow;
    border-radius: 10px;
}
.blinky{
    background-color: red;
    border: 0px;
}
.pinky{
    background-color: pink;
    border: 0px;
}
.inky{
    background-color: darkblue;
    border: 0px;
}
.clyde{
    background-color: orange;
    border: 0px;
}
.scared-ghost{
    background-color: aquamarine;
    border: 0px;
}